.soul-drop-panel{

  width:100%;
  transition:  box-shadow @transition-time linear;
  position: relative;
  height: 100%;
  .makeContainer();

  .is-preview > &{
    height:800px;
  }

  .layout-scroll > &{
    height:800px;
  }

  & .ivu-row{
    .is-preview &{
      .makeContainer();
    }
  }

  & .ivu-col{
    .is-preview &{
      .makeContainer();
    }
  }

  & .ivu-form{
    min-height: 60px;
    .is-preview &{
      .makeContainer();
    }
  }

  & .ivu-form-item{
    .is-preview &{
      .makeContainer();
    }
  }

  & .ivu-radio-group,
  & .ivu-checkbox-group,
  & .ivu-tabs{
    min-height: 40px;
    min-width: 60px;
    .is-preview &{
      .makeContainer();
    }
  }

  & .ivu-tabs-tabpane{
    min-height: 40px;
    .is-preview &{
      .makeContainer();
    }
  }

  & .ivu-card-extra{
    .is-preview &{
      width:50px;
    }
  }
}

.makeContainer(){
  min-height: 40px;
  transition:  box-shadow @transition-time linear;
  padding: 10px;
  border: 1px dashed #339ae2;

  //make drop be visible
  & .drop {
    box-shadow: 2px 2px 2px 2px #888888 inset;
  }
  &.drop {
    box-shadow: 2px 2px 2px 2px #888888 inset;
  }
}





